<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns=http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
</head>
<body style="margin: 0; padding: 0;">
<p>Hey,</p>

<p>Nous espérons que tu passes une excellente journée !</p>

<p>Un grand merci à toi de t’être inscrit au pré-lancement d'Awanga !</p>

<p>On est vraiment content d'être à quelques jours seulement du lancement officiel d'Awanga, car on a passé les 6 derniers mois à rencontrer les plus belles marques de mode responsable et à préparer notre super boutique en ligne.</p>


<p>Si tu nous as déjà recommandé à tes amis, tu es le meilleur.</p>

<p>Sinon, tu peux nous aider à faire passer le mot de cette manière :</p>

<p>
  <ul>
    <li>1) Tu peux retourner sur notre site <a href="www.awanga.fr">www.awanga.fr</a></li>
    <li>2) Sur la deuxième page, recommande tes amis en utilisant ton lien unique ou en partageant sur les réseaux sociaux et tu peux gagner jusqu'à 50 euros de crédit sur ta première commande.</li>
  </ul>
</p>

<p>Merci pour ton aide et ton soutien, on apprécie beaucoup.</p>

<p>On te tiendra au courant quand notre site complet sera en ligne la semaine prochaine!</p>

<p>A très vite</p>

<p>L'équipe d'Awanga</p>
</body>
</html>