<div class="hero"></div>
<div class="hero-text">
  <p class="text">La mode évolue</p>
  <p class="date">19 MAI 2015</p>
  <div class="logo"></div>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <p class="byline brandon">Gagnez jusqu’à 50% de réduction sur votre première commande</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="c’est parti !" />
        <% end %>
    <% end %>
</div>